
@model RainfallModel
@{

    ViewData["Title"] = "Rainfall";

}


<h1>@ViewData["Title"]</h1>

<table>
    <tr>
        <th>Date</th>
        <th>Rainfall(mm)</th>
    </tr>

    @foreach (RainfallData data in Model.RainfallDataList)
    {
        <tr>
            <td>@data.Date</td>
            <td>@data.Value</td>
        </tr>
    }

</table>
<br />
